body {
  background-color: #2c2b3d;
  font-family: "JetBrains Mono", monospace;
}

header img {
  margin-top: 40px;
}

nav {
  margin-top: 45px;
  padding: 0 125px 40px;
}

li {
  padding-top: 30px;
}

img {
  width: 100%;
  padding: 25px;
}

a {
  font-size: 2.0rem;
  font-weight: 500;

  color: white;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
  color: #00bfa694;
}

.text {
  padding: 25px;
  margin-top: 25px;
}

h1 {
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 35px;
  color: white;
}

.text span {
  color: #00bfa6;
}

.text p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 55px;
  color: #c2c2c2;
}

.text strong {
  font-weight: 700;
  color: #f7f5f5;
}

footer p {
  font-size: 2.0rem;
  padding-left: 30px;
  font-weight: 400;
  margin-top: 50px;
  color: #dbd7d7;
}

footer a:hover {
  font-weight: 700;
  color: #00bfa6;
}

#line {
    border-bottom: 1px solid #00bfa6;
}

#lock {
  width: 100px;
}

@media(min-width: 1440px) {
  header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 700px
  }
  
  header img {
      max-width: 408px;
  }
  
  ul {
      font-size: 1.6rem;
  
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
  }
  
  main {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 100px;
  }
  
  .text {
      max-width: 754px;
      text-align: center;
  }
  
  main .girl {
      width: 550px;
  }
  
  .text h1 {
      font-size: 3.6rem;
  }
  
  .text p {
      font-size: 1.6rem;
      text-align: center;
  }
  
  footer {
      margin-top: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  footer p {
      font-size: 2.0rem;
  }
  
  #line {
      width: 800px;
      position: absolute;
      left: 560px;
      bottom: 200px;
  }
  
  #lock {
      position: absolute;
      left: 0;
  }
  
  }